:root {
    /* Palette Colori */
    --color-pistacchio: #93C572;
    --color-oro: #D4AF37;
    --color-antracite: #1A1A1A;
    --color-crema: #F9F7F2;

    /* Font Family */
    --font-heading2: 'Lavishly Yours', cursive;
    --font-heading: 'Fira sans', serif;
    --font-body: 'Montserrat', sans-serif;
}


.recipe-detail-cream {
    background-color: var(--color-crema);
    color: var(--color-antracite);
    min-height: 100vh;
    font-family: var(--font-heading);
}

.back-link:hover {
    opacity: 1;
    color: var(--color-oro);
}

.recipe-concept-label {
    letter-spacing: 5px;
    font-size: 0.8rem;
    color: var(--color-oro);
    text-transform: uppercase;
}

.recipe-display-title {
    font-family: var(--font-heading);
    font-size: clamp(3rem, 8vw, 5.5rem);
    font-weight: 200;
    line-height: 1;
}

.full-screen-img-wrapper {
    width: 100%;
    height: 80vh;
    margin: 40px 0;
    overflow: hidden;
}

.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.section-title {
    color: var(--color-pistacchio);
    font-size: 0.75rem;
    letter-spacing: 4px;
    font-weight: 900;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.ingredients-list {
    color: var(--color-pistacchio);
    padding: 0;
}

.ingredients-list li {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 1.1rem;
    color: var(--color-antracite);
}

#detail-steps {
    font-family: var(--font-body);
    font-size: 1 rem;
    color: var(--color-antracite);
    letter-spacing: 0.3px;
    text-align: left;
}

#detail-steps strong {
    font-family: var(--font-body);
    font-size: 1.0rem;
    color: var(--color-oro);
    display: block;
}