:root {
    /* Palette Colori */
    --color-pistacchio: #93C572;
    --color-oro: #D4AF37;
    --color-antracite: #1A1A1A;
    --color-crema: #F9F7F2;

    /* Font Family */
    --font-heading2: 'Lavishly Yours', cursive;
    --font-heading: 'Fira sans', serif;
    --font-body: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-crema);
    color: var(--color-antracite);
    font-family: var(--font-body);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    color: var(--color-antracite);
    font-weight: 700;
}

.button-cta {
    background-color: var(--color-pistacchio);
    font-family: var(--font-body);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    color: var(--color-crema);
    margin: 1px;
    border-radius: 5px;
}

/* Nav */
.bedda-nav {
    background-color: var(--color-antracite);
    backdrop-filter: blur(15px);
    padding: 1.0rem 0;
    height: 90px;
}


.logo-main {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo-main:hover {
    transform: scale(1.02);
}

.nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 0.7rem;
    letter-spacing: 0.3em;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin: 0 15px;
}

.nav-link:hover,
.active-link {
    color: #ffffff !important;
}

.btn-join {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff !important;
    padding: 10px 25px !important;
    font-size: 0.65rem !important;
    letter-spacing: 0.4em !important;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-join:hover {
    background: #ffffff;
    color: #121212 !important;
    border-color: #ffffff;
}

.custom-toggler-icon {
    display: block;
    width: 25px;
    height: 1px;
    background: #fff;
    position: relative;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
    content: "";
    width: 25px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
}

.custom-toggler-icon::before {
    top: -8px;
}

.custom-toggler-icon::after {
    top: 8px;
}

/* header */
.hero-section {
    padding-top: 90px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.brand-logo-huge {
    display: flex;
    align-items: baseline;
    justify-content: center;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-part-1 {
    font-family: var(--font-heading2);
    font-size: clamp(5rem, 15vw, 12rem);
    font-weight: 500;
    color: var(--color-antracite);
    text-transform: capitalize;
    letter-spacing: 2px;
}


.logo-part-2 {
    font-family: Fira Sans;
    font-size: clamp(4rem, 15vw, 10rem);
    font-weight: 100;
    color: var(--color-pistacchio);
    letter-spacing: -2px;
    display: inline-block;
}

/* card */
.bedda-luxury-card {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg-dark-bedda {
    background-color: var(--color-crema);
}

.bedda-luxury-card {
    background: transparent;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 4/5;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(20%);
    transition: all 0.8s ease;
}

.macro-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(18, 18, 18, 0.9);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    transition: bottom 0.5s ease;
}

.bedda-luxury-card:hover .macro-overlay {
    bottom: 0;
}

.bedda-luxury-card:hover img {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.recipe-number {
    font-family: var(--font-heading);
    letter-spacing: 0.4em;
    font-size: 0.65rem;
    color: #666;
    display: block;
    margin-bottom: 10px;
}

.recipe-title {
    font-family: var(--font-heading);
    color: var(--color-antracite);
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.recipe-concept {
    font-family: var(--font-heading);
    color: #999;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 300;
}

.v-detail {
    text-align: center;
    color: #fff;
}

.v-detail span {
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.v-detail small {
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    color: #888;
}

.read-more {
    text-decoration: none;
    color: var(--color-oro);
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    transition: 0.3s;
}

.read-more:hover {
    border-bottom: 1px solid var(--color-pistacchio);
    color: var(--color-pistacchio);
}

/* footer */
.bedda-footer {
    background-color: var(--color-antracite);
    padding: 100px 0 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-family: var(--font-body)
}

.footer-logo {
    font-family: var(--font-heading2);
    color: white;
    margin-bottom: 20px;
    font-weight: 500;

}

.footer-logo span {
    color: var(--color-pistacchio);
    font-weight: 300;
    opacity: 0.8;
    font-family: var(--font-heading);
}

.footer-mission {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.8;
    max-width: 320px;
}

.footer-title {
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
}

.social-links {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-links a:hover {
    background-color: var(--color-antracite);
    color: var(--color-oro);
    transform: translateY(-5px);
    border-color: var(--color-oro);
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 15px;
}

.footer-links a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 0.85rem;
    transition: all 0.4s ease;
}

.footer-links a:hover {
    color: var(--color-pistacchio);
    letter-spacing: 1px;
}

.legal-link {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.legal-link:hover {
    color: var(--color-pistacchio);
    letter-spacing: 1px;
    transition: all 0.4s ease;

}

.newsletter-box {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    padding-bottom: 8px;
}

.newsletter-box input {
    background: transparent;
    border: none;
    color: white;
    font-size: 0.85rem;
    width: 100%;
    outline: none;
}

.newsletter-box button {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.2);
    letter-spacing: 1px;
}

.footer-bottom {
    margin-top: 80px;
    padding-top: 30px;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.3);
}